@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <address>
        Sathish Swarna<br />
        Bangalore - 08<br />
        @*<abbr title="Phone">P:</abbr>
            425.555.0100*@
    </address>

    <address>
        <strong>Support:</strong>   <a href="sathish.rna@gmail.com">sathish.rna@gmail.com</a><br />
    </address>
</div>