@{
    ViewBag.Title = "Knockout JS";
}
<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <div class="jumbotron">
        <p>Knockout is a standalone JavaScript implementation of the Model-View-ViewModel pattern with templates. </p>
        <p>The underlying principles are therefore:</p>

        <p>* a clear separation between domain data, view components and data to be displayed</p>
        <p>* the presence of a clearly defined layer of specialized code to manage the relationships between the view components</p>

        <p>The latter leverages the native event management features of the JavaScript language.</p>
    </div>
    <p><a href="http://en.wikipedia.org/wiki/KnockoutJS" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and gives you ful
        l control over markup
        for enjoyable, agile development.
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
